@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
@import "tailwindcss";

@theme {
  --font-mouse-memoirs: "Mouse Memoirs", sans-serif;
}

body {
  position: relative;
  background-image: url("../src/assets/images/background-mobile.svg");
  background-size: cover;
  isolation: isolate;
  overflow-y: auto;

  @media (min-width: 768px) {
    background-image: url("../src/assets/images/background-tablet.svg");
  }
  @media (min-width: 1280px) {
    background-image: url("../src/assets/images/background-desktop.svg");
  }
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
  z-index: 1;
}

body > * {
  position: relative;
  z-index: 2;
}
