@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
@import "tailwindcss";

@theme {
  --font-mouse-memoirs: "Mouse Memoirs", sans-serif;
}

body {
  background-image: url("../src/assets/images/background-mobile.svg");
  background-size: cover;

  @media (min-width: 768px) {
    background-image: url("../src/assets/images/background-tablet.svg");
  }
  @media (min-width: 1280px) {
    background-image: url("../src/assets/images/background-desktop.svg");
  }
}
