@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
@import "tailwindcss";

@theme {
  --font-mouse-memoirs: "Mouse Memoirs", sans-serif;
}

body {
  background-image: url("../src/assets/images/background-mobile.svg");
  background-size: cover;

  @media (min-width: 768px) {
    background-image: url("../src/assets/images/background-tablet.svg");
  }
  @media (min-width: 1280px) {
    background-image: url("../src/assets/images/background-desktop.svg");
  }
}

.a {
  grid-area: a;
  @media (min-width: 768px) {
    align-self: center;
  }
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.step-wrapper {
  display: grid;
  grid-template-areas:
    "a b"
    "c c";
  grid-template-columns: auto 1fr;
  gap: 16px;

  @media (min-width: 768px) {
    grid-template-areas:
      "a b"
      "a c";

    column-gap: 40px;
  }

  @media (min-width: 1280px) {
    grid-template-areas:
      "a a"
      "b b"
      "c c";
  }
}
